
* {
  /* font-family: 'Netflix Sans', sans-serif; */
  font-family: 'Inter', Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color:rgb(31, 31, 31);;
  /* background: linear-gradient(rgba(200, 200, 155, 0.24), rgba(200, 200, 155, 0.25)), url('media/bg.png'); */
  /* background: url('media/bg.png');
  background-size: contain;
  background-size: cover;
  background-attachment: fixed; */
  overflow-x: hidden; 
  font-size: 20px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  width: 100vw;
}

header{
  font-size: 14px;
  background: #000000;
  opacity: 0.7;
}

header div:nth-child(1) {
  max-width: 1200px;
}

.logo {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}



